body{
    font-family: 'Source Sans Pro', sans-serif;
}


.signup_page_bg{
    background: #483D8B;
}

.signin_page_bg{
    background: #483D8B;
}

.login_page{
    margin-top: 100px;
    color: #777;
}

.login_page a {
    color: #7F6EE6;
}

.signin_btn:hover{
    color: #FFF;
}

.login_form .form-control{
    border: 0px;
    background: none;
    border-bottom: 2px solid #FFF;
    border-radius: 0px;
    box-shadow: none;
    color: #FFF;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.login_form .form-group{
    margin-bottom: 50px;
}


.btn-circle{
    background: none;
    border: 2px solid #FFF;
    color: #FFF;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 18px;
}


.logo_area{
    text-align: center;
    color: #FFF;
    margin-bottom: 70px;
}

.logo_area h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 200;
}

.logo_area h2 span{
    font-size: 40px;
}

.logo{
    height: 200px;
}


.login_form .form-control::-webkit-input-placeholder {
    color: #FFF !important;
}

.login_form .form-control:-moz-placeholder { /* Firefox 18- */
    color: #FFF !important;
}

.login_form .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #FFF !important;
}

.login_form .form-control:-ms-input-placeholder {
    color: #FFF !important;
}

.login_form .error{
    color: #a94442;
}

.alert {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}