<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bbund</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/toastr.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/toastr.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="assets/js/angular-route.js"></script>
</head>
<body>

<div class="container margin-top-100">
    <div class="col-lg-offset-3 col-lg-6">
        <div class="login_form">

        </div>
    </div>
</div>

</body>
</html>