<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bBund</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/toastr.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,400italic,600,700' rel='stylesheet' type='text/css'>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/toastr.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="assets/js/angular-route.js"></script>
</head>
<body class="body_color">

<div class="login_page">
    <br/><br/><br/><br/><br/><br/>
    <div class="slogan">
        <img src="http://de9.engine.flamingtext.com/netfu/tmp28000/coollogo_com-73223590.png" height="100">
        <h2>bBund! <span>bundle your resources</span></h2>
    </div>
    <div class="container margin-top-100">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="login_form">
                <form class="login_form">
                    <div class="form-group">
                        <input type="email" class="form-control"  placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control"  placeholder="Password">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn-circle btn-circle-white text-uppercase">Signin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>