<!DOCTYPE html>
<html lang="en" ng-app="bBundApp">
<head>
    <meta charset="UTF-8">
    <title>bBund</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/toastr.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,400italic,600,700' rel='stylesheet' type='text/css'>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/toastr.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="assets/js/angular-route.js"></script>

    <script src="angular/app.js"></script>

</head>
<body class="body_color">

<div ng-view></div>

</body>
</html>